name: MERN CI

on:
  push:
    branches: [ main ]
  
jobs: 
   mongo-init:
    runs-on: ubuntu-latest

    services: 
      mongo:
        image: mongo:latest
        ports: ['27017:27017']

    steps:
      - name: Checkout Respository
        uses: actions/checkout@v5

        -name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Wait for MongoDB to be ready
      -  run: |
          until nc -z localhost 27017;
          do
            echo "Waiting for MongoDB to be ready..."
            sleep 2
          done
           echo "MongoDB is ready!"

    - name: Seed MongoDB
      working-directory: ./backend
      run: |
        npm install
        node seedTaskData.js
   test :
        runs-on: ubuntu-latest

      steps:
        - name: Checkout Respository
          uses: actions/checkout@v5

        - name: Set up Node.js
          uses: actions/setup-node@v3
          with:
            node-version: '16'

        - name: Install Dependencies   
          run: npm install

        - name: Run Tests
          run: npm test
            
    